<p>Sorted by <%= params[:order].capitalize %> </p>
	<table>
		<% @albums.each do |album| %>
		<%= album.rank==params[:rank].to_i ? "\t<tr class=\"highlighted\">\n" : "\t<tr>\n" %>
		<%= "\t\t<td>#{album.rank}</td>\n" %>
		<%= "\t\t<td>#{album.title}</td>\n" %>
		<%= "\t\t<td>#{album.year}</td>\n" %>
		<%= "\t</tr>\n" %>
		<% end %>
	</table>